<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project2.xirpl32425263034.javood_3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Makanan_Activity"
            android:label="@string/title_activity_makanan_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Minuman_Activity"
            android:label="@string/title_activity_minuman_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cemilan_Activity"
            android:label="@string/title_activity_cemilan_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyIntro"></activity>
    </application>

</manifest>