<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project2.xirpl32425263034.javoods">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Makanan_Activity"
            android:label="Makanan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Minuman_Activity"
            android:label="Minuman"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cemilan_Activity"
            android:label="Camilan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyIntro" />
        <activity
            android:name=".Detail.Detail_Makanan"
            android:label="@string/title_activity_detail__makanan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Detail.Detail_Minuman"
            android:label="@string/title_activity_detail__minuman"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Detail.Detail_Cemilan"
            android:label="@string/title_activity_detail__cemilan"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="javoods.xirpl32425263034.project2.smktelkom_mlg.sch.id.javoods.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>